#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_bitcoind += debian/examples/*
DEB_INSTALL_MANPAGES_bitcoind += debian/manpages/*

%:
	dh --with autoreconf,bash-completion $@

# Debian wheezy does not have libdb4.8-dev and libdb-dev depends on libdb5.1-dev
override_dh_auto_configure:
	dh_auto_configure -- --with-incompatible-bdb
